
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
  } 
 
  li{
    list-style: none;  
  }

  header {
     /* background-color: yellow;  */
    color: #FF4848;
    padding: 2px 30px 10px 30px; 
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: #FF4848;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .hero {
    text-align: center;
    margin-top: 50px;
  }

  .logo{
    padding-left: 50px;
  }

  .welcome{
    font-size: 40px;
  }

  .delicious{
    font-size: 20px;
  }

  .pizza-images {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
  }

  .pizza-images img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.3s ease; /* Smooth transition */
  }

  .content1 {
    text-align: center;
    padding-left: 60px;
    /* margin-bottom: 20px; */
  }

  .button {
    background-color: #FF4848;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #FF6565;
  }
  footer {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
  }
  
  .about-us {
    position: relative;
    width: 100%;
    height: 350px; /* Adjust height as needed */
    background-image: url('pizza_background.jpg'); /* Replace with your pizza background image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.5); /* Light grey overlay */
  }

  .content {
    text-align: center;
    color: white; /* Text color */
    z-index: 1; /* Ensure content is above overlay */
  }
  .learn-more-button {
    background-color: #FF4848;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }

  .learn-more-button:hover {
    background-color: #FF6565;
  }


  .small-title {
    display: inline-block;
    font-size: 0.75rem;
    color: #4A4A4A;
    padding-top: 50px;
    padding-left: 35px;
  }


  .ordernowimage{
    margin: 0px 35px 60px 35px; 
 
  }
  
  .menuimage{
    padding: 5px 80px;
  }

.pizza-table {
  width: 95%;
  border-collapse: collapse;
}

.pizza-table th,
.pizza-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.pizza-table th {
  background-color: #f2f2f2;
}

.pizza-table img {
  width: 80px;
  height: auto;
  cursor: pointer; /* Add cursor pointer to indicate clickable */
}

.order-button {
  background-color: #dd4c38;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.order-details {
  /* padding: 20px; */
  text-align: center;
}

.order-details img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.order-details h2 {
  margin-bottom: 10px;

}

.order-details p {
  margin-bottom: 10px;
}

.order-buttons {
  margin-top: 20px;
}

.order-buttons button ,#pay{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.order-buttons button:hover {
  background-color: #45a049;
}

.frame {
  width: 1200px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative;
}

.image-container {
  white-space: nowrap;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.image-container:hover {
  animation-play-state: paused;
}

.image-container img {
  width: 300px;
  height: 300px;
  vertical-align: middle;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.2);
}

.image-container span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.containerlist {
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 0px 35px;
    border-top: solid 1px;
    padding-bottom: 30px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    color: #4A4A4A;
    padding-top: 25px;
  }

  .view-all {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  .pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .pizza-item {
    width: calc(25% - 10px);
    margin-bottom: 40px;
  }

  .pizza-item img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .pizza-item h3 {
    margin: 5px 0;
    color: #4A4A4A;
  }
  .pizza-item:hover img {
    transform: scale(1.2);
  }

.size-button{
  background-color: #dd4c38;
  border-radius: 5px;
  padding: 5px 15px;
  border-color: #dd4c38;

}

.size-button:hover{
  background-color: #4A4A4A;

}